body {
  border: none;
  margin: none;
  background: black;
  background-image: url(./star-sky.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.90;
}

.App {
  text-align: center;
  color: black;
  height: 100vh;
}

.container {
  width: 60%;
  margin: auto;
}

.titleDiv {
  margin-top: 30px;
  background-color: whitesmoke;
  border-radius: 5px;
  padding: 1px;
}

.messagesDiv {
  display: none;
  flex-direction: column;
}

ul {
  list-style-type: none;
  padding-inline-start: 0px;
}

.left, .right {
  line-height: 100%;
  display: block;
  position: relative;
  padding: 5px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  /* use clear to move next message down a line  */
  clear: both;
  max-width: 50%;
}

.left {
  float: left;
  margin-right: 10%;
  border: rgb(199, 199, 199) 1px solid;
  background-color: rgb(204, 204, 204);
  color: black;
  margin-bottom: 3px;
}

.right {
  float: right;
  margin-left: 10%;
  border: lightgreen 1px solid;
  background-color: lightgreen;
  color: black;
  margin-bottom: 3px;
}

/* message input and button  */
form {
  width: 100%;
  display: flex;
    justify-content: space-between;

}

.inputDiv {
  display: none;
}

.inputBox {
  width:75%;
  display: flex;
  height: 32px;
  border-radius: 5px;
  border: rgb(180, 180, 180) 1px solid;
}

.submit {
  width: 25%;
  height: 36px;
  border-radius: 5px;
  border: rgb(180, 180, 180) 1px solid;
}

/* option buttons */

#options {
  display: none;
  justify-content: space-between;
}

.button {
  width: 50%;
  height: 36px;
  border-radius: 5px;
  border: rgb(180, 180, 180) 1px solid;
}

@media only screen and (max-width: 500px) {
  .container {
    width: 85%;
  }
}

